.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #3f51b5;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 60px;

  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList.row:hover {
  cursor: pointer;
  background: white;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}
